# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [28]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [29]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [30]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'manuelgarciaperez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [31]:
if not database_exists(engine.url):
    create_database(engine.url)

In [32]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con = engine, if_exists='replace')

In [33]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [34]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT launchsite FROM SPACEXTBL  """
df  = pd.read_sql(query, con = engine )
df

     launchsite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [41]:
query = """ SELECT launchsite FROM SPACEXTBL WHERE launchsite LIKE 'CCS%' """
df  = pd.read_sql(query, con = engine )
df

      launchsite
0   CCSFS SLC 40
1   CCSFS SLC 40
2   CCSFS SLC 40
3   CCSFS SLC 40
4   CCSFS SLC 40
5   CCSFS SLC 40
6   CCSFS SLC 40
7   CCSFS SLC 40
8   CCSFS SLC 40
9   CCSFS SLC 40
10  CCSFS SLC 40
11  CCSFS SLC 40
12  CCSFS SLC 40
13  CCSFS SLC 40
14  CCSFS SLC 40
15  CCSFS SLC 40
16  CCSFS SLC 40
17  CCSFS SLC 40
18  CCSFS SLC 40
19  CCSFS SLC 40
20  CCSFS SLC 40
21  CCSFS SLC 40
22  CCSFS SLC 40
23  CCSFS SLC 40
24  CCSFS SLC 40
25  CCSFS SLC 40
26  CCSFS SLC 40
27  CCSFS SLC 40
28  CCSFS SLC 40
29  CCSFS SLC 40
30  CCSFS SLC 40
31  CCSFS SLC 40
32  CCSFS SLC 40
33  CCSFS SLC 40
34  CCSFS SLC 40
35  CCSFS SLC 40
36  CCSFS SLC 40
37  CCSFS SLC 40
38  CCSFS SLC 40
39  CCSFS SLC 40
40  CCSFS SLC 40
41  CCSFS SLC 40
42  CCSFS SLC 40
43  CCSFS SLC 40
44  CCSFS SLC 40
45  CCSFS SLC 40
46  CCSFS SLC 40
47  CCSFS SLC 40
48  CCSFS SLC 40
49  CCSFS SLC 40
50  CCSFS SLC 40
51  CCSFS SLC 40
52  CCSFS SLC 40
53  CCSFS SLC 40
54  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [54]:
query = """SELECT PayloadMass, Customers FROM SPACEXTBL  WHERE Customers = 'NASA (CRS)';"""
df  = pd.read_sql(query, con = engine )
df

    PayloadMass   Customers
0         677.0  NASA (CRS)
1        2296.0  NASA (CRS)
2        2216.0  NASA (CRS)
3        2395.0  NASA (CRS)
4        1898.0  NASA (CRS)
5        2477.0  NASA (CRS)
6        3136.0  NASA (CRS)
7        2257.0  NASA (CRS)
8        2490.0  NASA (CRS)
9        2708.0  NASA (CRS)
10       2910.0  NASA (CRS)
11       2205.0  NASA (CRS)
12       2760.0  NASA (CRS)
13       2410.0  NASA (CRS)
14       2573.0  NASA (CRS)
15       2482.0  NASA (CRS)
16       2227.7  NASA (CRS)
17       5000.0  NASA (CRS)
18       1977.0  NASA (CRS)

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [57]:
query = """select PayloadMass,Serial from SPACEXTBL WHERE Serial like 'B1%';"""
df  = pd.read_sql(query, con = engine )
df

    PayloadMass Serial
0         500.0  B1003
1        3170.0  B1004
2        3325.0  B1005
3        2296.0  B1006
4        1316.0  B1007
..          ...    ...
82      15600.0  B1060
83      15600.0  B1058
84      15600.0  B1051
85      15600.0  B1060
86       3681.0  B1062

[87 rows x 2 columns]

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia